
<html lang="en">
<head>

</head>
<body>


<div class="container-fluid text-center">
  <div class="row content">

      <div class="well">

<h2>Grocery Table</h2>

<table>
  <tr>
    <th>Item</th>
    <th>Quanitity</th>
    <th>Requested by</th>
    <th>Drop</th>
  </tr>
  <% current_user.room.users.each do |u| %>
  <% u.lists.each do |list| %>
 <tr>
   <td><%= list.item %></td>
   <td><%= list.quantity %></td>
   <td><%= u.email %></td>
   <td><% if u == current_user %> <%= "Can delete" %> <% end %> </td>
 </tr>
 <% end %><% end %>
</table>

  <div>

<%= form_tag("/lists/create", method: "post") do %>
  <%= label_tag(:name, "Item Name") %>
  <%= text_field_tag(:name) %>
  <br>
  <%= label_tag(:quantity, "Quantity") %>
  <%= text_field_tag(:quantity) %>
  <br>
  <%= submit_tag("Submit", :class => "button2") %>
<% end %>



</div>
</body>
</html>
