
<center> <%= if current_user.room != nil
          "Room Number "+current_user.room.room_number.to_s
        end
        %>
  <table>
  <tr>
    <th>Room</th>
    <th>mates</th>

</tr>
<tr>
    <h1><% if current_user.room != nil %>
              <%current_user.room.users.each do |u| %>
                <td> <%= u.email + "\n" %> </td>
              <% end %>

            <% end %>
            </h1>
          </tr>
          <br>
        </center>
</table>



                <div class="row">
                  <div class="col-md-12 text-center">
                    <div class="well controls">
                      <%= link_to display_path(date: @date - 1.month), class: "btn btn-default" do %>
                      <i class="glyphicon glyphicon-backward"></i>
                      <% end %>
                      <%= "#{@date.strftime("%B")} #{@date.year}" %>
                      <%= link_to display_path(date: @date + 1.month), class: "btn btn-default" do %>
                      <i class="glyphicon glyphicon-forward"></i>
                      <% end %>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <%= calendar @date do |date| %>


                      <%= date.day %>
                    <% end %>
                  </div>
                </div>
