<%= link_to "Log Out", destroy_user_session_path, method: :delete %>
<%= link_to "Leave Room", delete_room_path, method: :post %>

<h1>Hi</h1>
<h1><%= if current_user.room != nil
          "Your room: "+current_user.room.room_number.to_s
        end
        %></h1>
        <h1><% if current_user.room != nil %>
                  "Your roomates: "
                  <%current_user.room.users.each do |u| %>
                    <%= u.email + "\n" %>
                  <% end %>

                <% end %>
                </h1>

                <%= link_to "Grocery List", grocery_list_path, method: :get %>

                <div class="row">
                  <div class="col-md-12 text-center">
                    <div class="well controls">
                      <%= link_to display_path(date: @date - 1.month), class: "btn btn-default" do %>
                      <i class="glyphicon glyphicon-backward"></i>
                      <% end %>
                      <%= "#{@date.strftime("%B")} #{@date.year}" %>
                      <%= link_to display_path(date: @date + 1.month), class: "btn btn-default" do %>
                      <i class="glyphicon glyphicon-forward"></i>
                      <% end %>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <%= calendar @date do |date| %>


                      <%= date.day %>
                    <% end %>
                  </div>
                </div>
<%= month_calendar number_of_weeks: 2 do |date| %>
  <%= date %>
  <%= date %>
  <% if date == 3 %>
  <br>
  <% end %>
  <%= date  %>
  <% if date == 3 %>
  <br>
  <% end %>
<% end %>
