<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>



<div class="container-fluid text-center">
  <div class="row content">

    <div class="col-sm-8 text-left">
      <h1>Welcome</h1>
      <h1> You are not registered to a room. Join or create one! </h1>
      <p>Hey, please join a room <hr>
        <% if flash[:error] %>
          <p style="color: green;"><%= flash[:error] %></p>
        <% end %>

      <div class="well">


        <%= form_tag("/rooms/join", method: "post") do %>
          <%= label_tag(:id, "Join a old room:") %>
          <%= text_field_tag(:id) %>
          <%= submit_tag("Join", :class => "button2") %>
        <% end %>

        <%= form_tag("/rooms/create", method: "post") do %>
          <%= label_tag(:id, "Create a new room:") %>
          <%= text_field_tag(:id) %>
          <%= submit_tag("Create", :class => "button2") %>
        <% end %>






  </div>
</div>


</body>
</html>
